{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}MD Suweb Reza - Home{% endblock %}
    <meta name="author" content="Did Coding Limited & James Granger Design">
    <link rel="canonical" href="{{request.path}}"/>
    <link rel="home" href="{% url 'main:home' %}"/>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}"> 

    <link rel="shortcut icon"  href="{% static 'images/icon.jpg' %}">
    <link rel="apple-touch-icon"  href="{% static 'images/icon.jpg' %}">

    

  </head>
  <body>

    <!-- ================================
    Start Navigation Bar
    ================================= -->
    {% include 'main/partials/nav.html' %}

    <!-- ================================
    End Navigation Bar
    ================================= -->

    <!-- ================================
    Start Content
    ================================= -->
    {% block content %} 
    {% endblock %}
   
    <!-- ================================
    End Content
    ================================= -->
    
    <!-- ================================
    Start Footer
    ================================= -->
    {% include 'main/partials/footer.html' %}
    <!-- ================================
    End Footer
    ================================= -->

    <!-- ================================
    Start Scripts
    ================================= -->
    {% include 'main/partials/scripts.html' %}

    <!-- ================================
    End Scripts
    ================================= -->
  </body>
</html>
